* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.databox p {
    margin-bottom: 8px;
}
.resultpanel {
    height: 120px;
    background-color: var(--fifth-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: auto;
}
.resultpanel ul {
    display: inline-block;
    min-height: 120px;
    list-style:square;
}
.resultpanel::-webkit-scrollbar {
    width: 10px;
}
.resultpanel::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
    border-radius: 5px;
}
.resultpanel::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 5px;
}